$default-diff: 16px;
$default-width: 100%;
$default-min: 10%;

.card-stack--container {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 0 auto;

  @media (max-width: 567px) {
    width: 85%;
  }

  /* Card Stack */
  .card-stack {
    position: absolute;
    width: 500px;
    height: 300px;

    @media (max-width: 567px) {
      width: 100%;
    }

    .card-list {
      width: 300px;

      /* Card */
      li {
        position: absolute;
        top: ($default-diff * 3);
        right: 0;
        left: 0;
        width: $default-width - $default-min * 2;
        height: 300px;
        margin: 0 auto;
        padding: 16px 24px;
        border-radius: 2px;
        list-style: none;
        text-align: center;
        background: $color-white;
        transition: all .35s ease-in-out;
        will-change: transform;
        z-index: 3;

        @media (max-width: 576px) {
          padding: 16px 16px;
        }

        &:nth-child(1) {
          top: ($default-diff * 1);
          width: $default-width - $default-min * 0;
          z-index: 5;
        }

        &:nth-child(2) {
          top: ($default-diff * 2);
          width: $default-width - $default-min * 1;
          z-index: 4;
        }

        &:nth-child(3) {
          top: ($default-diff * 3);
          width: $default-width - $default-min * 2;
          z-index: 3;
        }

        &:nth-child(-n+3) {
          box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
        }
      }

      /* Card */
    }
  }

  /* Card Stack */

  /* Pagination */
  .card-pagination {
    position: absolute;
    top: $default-diff;
    right: -24px;

    ul {
      list-style: none;

      li {
        width: 4px;
        height: 55px;
        margin-bottom: 4px;
        background: rgba($color-black-light, .05);
        transition: background .35s ease-in-out;
        will-change: transform;
        cursor: pointer;

        &:hover,
        &.active {
          background: $color-primary;
          box-shadow: 0 2px 6px 0 rgba($color-primary, 0.3);
          opacity: 1;
        }
      }
    }
  }

  /* Pagination */
}
