.quote {
  &.active {
    .quote--container {
      opacity: 1;
    }
  }

  .quote--container {
    position: relative;
    height: 100%;
    opacity: 0;
    transition: opacity .35s ease-in-out;

    .quote--content {
      .avatar {
        @media (max-width: 576px) {
          width: 60px;
          height: 60px;
        }
      }

      .quote-img {
        position: absolute;
        top: 72px;
        left: 0;

        @media (max-width: 576px) {
          top: 56px;
          left: -8px;
        }
      }

      .quote--text {
        margin-top: 16px;
        padding: 0 24px;

        @media (max-width: 576px) {
          padding: 0;
        }
      }
    }

    .quote--footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      span {
        display: block;

        &.quote--client {
          color: $color-primary;
          font-size: 16px;
          font-weight: 600;

          @media (max-width: 576px) {
            font-size: 14px;
          }
        }

        &.quote--client-role {
          color: $color-white-darker2;
          font-size: 16px;

          @media (max-width: 576px) {
            font-size: 12px;
          }
        }
      }

      img {
        &.prev,
        &.next {
          position: absolute;
          bottom: 16px;
          cursor: pointer;
        }

        &.prev {
          left: 0;
        }

        &.next {
          right: 0;
          transform: rotateY(180deg);
        }
      }
    }
  }
}
