// Grayscale

$color-white: #ffffff;
$color-white-dark: #f6f6f6;
$color-white-dark2: #f9f9f9;
$color-white-dark3: #efefef;
$color-white-darker: #dadbde;
$color-white-darker2: #cac9c9;
$color-black: #000000;
$color-black-light: #212121;
$color-gray: #757575;
$color-gray-dark: #666666;
$color-gray-light: #bebdbd;
$color-gray-light2: #B0B0B0;

// Functional

$color-blue: #3bb0d0;
$color-orange: #ff9200;

// Primary

$color-primary: #bf9b30;
$color-secondary: #806924;
$color-tertiary: #dbc37d;
