// Backgrounds

.white-bg {
  background: $color-white !important;
}

.black-bg {
  background: $color-black-light !important;
}

.gray-bg {
  background: $color-gray !important;
}

.gold-bg {
  background: $color-primary !important;
}

.blue-bg {
  background: $color-blue !important;
}

.orange-bg {
  background: $color-orange !important;
}

// Colors

.white-color {
  color: $color-white !important;
}

.black-color {
  color: $color-black-light !important;
}

.purple-color {
  color: $color-primary !important;
}

.blue-color {
  color: $color-blue !important;
}

.orange-color {
  color: $color-orange !important;
}
