// Variables
@import "variables";

// Fonts
@import "fonts";

// Typography
@import "typography";

// Colors
@import "colors";

// Placeholders

// Components
@import "components/avatar";
@import "components/card-stack-carousel";
@import "components/quote";

// Pages
@import "pages/home";

// Custom

.next-card {
  animation: _next-card .35s ease-in-out;
}

@keyframes _next-card {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.prev-card {
  animation: _prev-card .35s ease-in-out;
}

@keyframes _prev-card {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

