// Text

.text {
  margin: 0;
  color: $color-white;
  font-size: 24px;
  text-align: center;

  @media (max-width: 576px) {
    font-size: 16px;
  }

  &.quote--text {
    color: $color-gray;
    font-size: 16px;
    text-align: center;

    @media (max-width: 567px) {
      font-size: 12px;
    }
  }
}
